a {
  text-decoration: none;
}
.amount-photos {
  display: inline-block;
  background-color: green;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  font-size: 18px;
  cursor: pointer;
}
.amount-comments {
  display: inline-block;
  background-color: red;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  font-size: 18px;
  cursor: pointer;
}
.bubles {
  display: flex;
  p:first-child {
    margin-right: 10px;
  }
}
